# Dependências
node_modules/
**/node_modules/

# Variáveis de ambiente (NUNCA subir para o Github)
.env
**/.env

# Arquivos compilados / build
dist/
build/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json